* { padding: 0;}

body { font-size: .85em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; color: #232323; background-color: #fff; }

header, footer, nav, section { display: block; }

.wrapper { }
.main { margin: 0em auto; max-width: 80%; font-size: 2em;}
#body table{ margin: 0;border-collapse: collapse;}
#body tr td {width: 1.2em;height: 1.2em; background-color: white;border: 1px solid black;}
#body tr td.alive { background-color: black;}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset { border: 1px solid #ddd; padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; }

legend { font-size: 1.2em; font-weight: bold; }

textarea { min-height: 75px; }

.editor-label { margin: 1em 0 0 0; }

.editor-field { margin: 0.5em 0 0 0; }


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #f00; background-color: #fee; }

.validation-summary-errors { font-weight: bold; color: #f00; }

.validation-summary-valid { display: none; }
